# User Uploads
user_uploads/

# vscode
.vscode/

# Environment variables
.env

# configuration
config.py

# cache
__pycache__/

# done files
done.txt
ffmpeg_command.txt

# reels
static/reels/
.vercel
